.video-container {
  height: 100vh;
  border: solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  height: 80%;
  width: 80%;
  border: solid red;
  display: flex;
  align-items: flex-end;
}

.video-mute-button {
  background-color: rgba(219, 219, 219, 0.2);
  border-radius: 50%;
  color: white;
  border: none;
  height: 30px;
  width: 30px;
}

.video-mute-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .video-container {
    height: 720px;
    width: 520px;
  }
  .video {
    height: 600px;
    width: 350px;
  }
}
